.recommendations {
  padding: 3.5rem 1.5rem;
  background: var(--linear-gradient);
} 

.recommendations-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.recommendations-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.recommendations-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.recommendations-image {
  vertical-align: middle;
}

.recommendations-title,
.recommendations-text {
  margin: 0;
}

.recommendations-title {
  font: var(--heading-M);
  color: var(--gun-metal);
}

@media screen and (min-width: 768px) {

  .recommendations {
    padding: 3.75rem 2.5rem;
  }

  .recommendations-item {
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .recommendations {
    display: grid;
    place-items: center;
    max-width: 87rem;
    min-height: 25rem;
    margin: 0 auto;
    padding: 0;
    border-radius: 2.25rem;
  }

  .recommendations-content {
    max-width: 72.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .recommendations-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.8rem;
  }
}